body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
section{
    display:flex;
}
.top-banner{
    
    background-repeat: no-repeat;
    background-image: url(images/top-banner.png);

}
.banner{
    width: 50%;
    margin-left: 5%;
    margin-right: 5%;
}
.banner img{
    width:80%;
}
.orange{
    color: orange;
    
}
.banner h1{
    font-size: 50px;

}
.banner h2{
    font-size: 40px;
}
.click{
    text-decoration: none;
    color: #fff;
    background-image: linear-gradient(orange,tomato);
    padding: 10px 40px;
    

}
.exper{
    margin-bottom: 200px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
.devel h1{
    font-size: 35px;
}
.devel{
    width: 40%;
    min-height:400px;
    margin-left: 3%;
    margin-right: 5%;
    padding-left: 2%;
    box-shadow:  10px 10px 40px grey;
}
#dev{
    border-left: 7px solid;
    border-image: linear-gradient(#f6b73c, #4d9f0c);
    border-image-slice: 1;
    
}
#web{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan
    );
    border-image-slice: 1;
    
}
.buttom{
    text-align: center;
}
